<form method="get" action="/register">
  <button type="submit" name="register">Registration</button>
</form>
<% if session[:user_id] %>
  <h3>Logout</h3>
  <form method="post" action="/logout">
    <button>logout</button>
  </form>
<% else %>
  <h3>Login</h3>
  <form method="post" action="login" >
    <lable for="username">Username:</lable>
    <input type="test" name="username"><br>
    <lable for="password">Password:</lable>
    <input type="password" name="password"><br>
    <button>login</button>
  </form>
<% end %>