<form action="/add_fish" method="POST">
  <label for="name">Name:</label><br>
  <input id="name" name="name"><br>
  <label for="url">URL:</label><br>
  <input id="url" name="url"><br>
  <button>Submit</button>
</form>